html, body {
  margin: 0;
  padding: 0;
  background-color: #393939
}

.search {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#search_term {
  width: 100%;
  height: 100%;
  background: #222;
  border: none;
  padding-left: 10px;
  font-size: 20px;
  color: #ddd;
  box-sizing: border-box;
}

#search_term:focus {
  outline-width: 0;
}

.content {
  margin-top: 50px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.update-available {
  color: #9bfb08;
  font-size: 13px;
  font-family: 'Titillium', serif;
  cursor: pointer;
  display: none;
  transition: display 0s, opacity 0.5s linear;
}

#pastes {
    text-align: left;
}

.paste {
  display: flex;
  border-bottom: 1px solid #aaa;
  color: #ccc;
  font-weight: 500;
  font-size: 13px;
  cursor: default;
}

.paste .shortcut, .paste .text {
  padding: 10px;
}

.paste .text {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paste .shortcut {
  flex: 0 0 auto;
  min-width: 35px;
}

[data-selected=true] {
  background-color: #ffee69;
  color: #000;
}
