<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'self'; font-src 'self'; script-src 'unsafe-inline'">
  <link rel="stylesheet" href="./css/font.css">
  <link rel="stylesheet" href="./css/index.css"/>
  <script>require("./js/dom.js")</script>
  <script>require('./js/script.js')</script>
</head>
<body>
  <div class="container">
    <div class="search">
      <input type="text" id="search_term" placeholder="Search" autofocus />
    </div>
    <div class="content">
      <a data-href="https://github.com/ikouchiha47/clippy/releases" class="update-available">New Update!!</a>
      <div id="copied-confirmation">Copied!!</div>
      <div id="pastes"></div>
    </div>
  </div>
</body>
</html>
